.name-nav {
  font-size: 2rem;
  padding-left: 1.7rem;
  padding-top: 1.3rem;
}

.navbar {
  min-height: 6rem;
  /* background-color: #5680e9; */
  background-color: #254e58;
}

.nav-links {
  font-size: 1.3rem;
  padding-right: 1.7rem;
}

.nav-link:hover {
  background-color: #88bdbc !important;
}

.burger-edit {
  padding-top: 3rem;
}
